.all-posts .post-entry .posts-navigation a.nav-item .image-wrapper, .all-posts .posts .post .post-actions button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.all-posts .posts .post {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  border-radius: 10px; }
  .theme-light .all-posts .posts .post, .all-posts .posts .theme-light .post {
    color: #152234 !important;
    background-color: #EDEDEE !important;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3) !important; }
  .theme-dark .all-posts .posts .post, .all-posts .posts .theme-dark .post {
    color: #FCFDFD !important;
    background-color: #152234 !important;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3) !important; }
  .all-posts .posts .post:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3) !important; }

.all-posts {
  display: grid;
  grid-template-columns: 1fr 1px 2fr;
  position: relative;
  overflow-x: visible;
  height: 100%;
  overflow-y: hidden; }
  .all-posts .post-entry {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; }
    .all-posts .post-entry .posts-navigation {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 15px;
      justify-content: space-evenly; }
      .all-posts .post-entry .posts-navigation a.nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none; }
        .theme-light .all-posts .post-entry .posts-navigation a.nav-item {
          color: #152234; }
        .theme-dark .all-posts .post-entry .posts-navigation a.nav-item {
          color: #FCFDFD; }
        .all-posts .post-entry .posts-navigation a.nav-item .image-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          transform-origin: center bottom;
          width: 40px;
          height: 40px;
          transition: all .1s linear; }
          .all-posts .post-entry .posts-navigation a.nav-item .image-wrapper:hover {
            transform: scale(1.1); }
            .theme-light .all-posts .post-entry .posts-navigation a.nav-item .image-wrapper:hover {
              background-color: #152234; }
            .theme-dark .all-posts .post-entry .posts-navigation a.nav-item .image-wrapper:hover {
              background-color: #FCFDFD; }
          .theme-light .all-posts .post-entry .posts-navigation a.nav-item .image-wrapper {
            background-color: rgba(21, 34, 52, 0.6); }
          .theme-dark .all-posts .post-entry .posts-navigation a.nav-item .image-wrapper {
            background-color: rgba(252, 253, 253, 0.6); }
          .all-posts .post-entry .posts-navigation a.nav-item .image-wrapper img, .all-posts .post-entry .posts-navigation a.nav-item .image-wrapper svg {
            width: 65%;
            height: 65%; }
          .all-posts .post-entry .posts-navigation a.nav-item .image-wrapper svg.svg-icon .st0 {
            opacity: 1; }
            .theme-light .all-posts .post-entry .posts-navigation a.nav-item .image-wrapper svg.svg-icon .st0 {
              fill: #FCFDFD; }
            .theme-dark .all-posts .post-entry .posts-navigation a.nav-item .image-wrapper svg.svg-icon .st0 {
              fill: #152234; }
        .theme-light .all-posts .post-entry .posts-navigation a.nav-item.active .image-wrapper {
          background-color: #152234;
          transform: scale(1.1); }
        .theme-dark .all-posts .post-entry .posts-navigation a.nav-item.active .image-wrapper {
          background-color: #FCFDFD;
          transform: scale(1.1); }
    .all-posts .post-entry .post-entry-wrapper {
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1; }
      .all-posts .post-entry .post-entry-wrapper form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1; }
        .all-posts .post-entry .post-entry-wrapper form .radios {
          align-self: flex-start;
          padding-left: 15px; }
        .theme-light .all-posts .post-entry .post-entry-wrapper form svg path {
          fill: #152234; }
        .theme-dark .all-posts .post-entry .post-entry-wrapper form svg path {
          fill: #FCFDFD; }
      .all-posts .post-entry .post-entry-wrapper .default-input {
        margin-bottom: 20px; }
      .all-posts .post-entry .post-entry-wrapper .default-button.upload {
        box-shadow: none; }
        .theme-light .all-posts .post-entry .post-entry-wrapper .default-button.upload {
          color: #FCFDFD;
          background-color: #152234; }
        .theme-dark .all-posts .post-entry .post-entry-wrapper .default-button.upload {
          color: #fff;
          background-color: #FCFDFD; }
      .all-posts .post-entry .post-entry-wrapper input[type=text], .all-posts .post-entry .post-entry-wrapper textarea, .all-posts .post-entry .post-entry-wrapper #datetimepicker {
        width: 100%; }
  .all-posts .splitter {
    grid-column: 2/3; }
  .all-posts .posts {
    grid-column: 3/4;
    padding: 30px 40px;
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 90px) / 4));
    grid-auto-rows: min-content;
    grid-gap: 30px;
    overflow-y: auto; }
    .all-posts .posts .filters {
      grid-column: 1/-1; }
      .all-posts .posts .filters .custom-select-wrapper {
        width: 300px; }
    .all-posts .posts .post {
      position: relative;
      padding: 10px; }
      .theme-light .all-posts .posts .post:hover {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3); }
      .theme-dark .all-posts .posts .post:hover {
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3); }
      .all-posts .posts .post .post-header {
        display: flex;
        align-items: center;
        justify-content: flex-end; }
        .all-posts .posts .post .post-header .the-type {
          font-weight: normal; }
          .theme-light .all-posts .posts .post .post-header .the-type {
            color: #152234; }
          .theme-dark .all-posts .posts .post .post-header .the-type {
            color: #FCFDFD; }
        .all-posts .posts .post .post-header .post-data {
          display: flex; }
          .theme-light .all-posts .posts .post .post-header .post-data {
            color: #152234; }
          .theme-dark .all-posts .posts .post .post-header .post-data {
            color: #fcfdfd; }
          .all-posts .posts .post .post-header .post-data .post-date {
            margin-right: 15px; }
      .all-posts .posts .post.story .post-body {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 160px;
        width: calc(100% - 40px); }
        .all-posts .posts .post.story .post-body img.post-image, .all-posts .posts .post.story .post-body video {
          height: 100%;
          max-width: 100%;
          object-fit: cover; }
        .all-posts .posts .post.story .post-body video {
          object-fit: contain !important; }
      .all-posts .posts .post.timeline .post-body {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 160px;
        width: calc(100% - 40px); }
        .all-posts .posts .post.timeline .post-body > div {
          flex-grow: 1;
          flex-basis: 0; }
        .all-posts .posts .post.timeline .post-body .post-image-wrapper {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 6px;
          position: relative; }
          .all-posts .posts .post.timeline .post-body .post-image-wrapper.post-image-album::before {
            content: '';
            position: absolute;
            top: 5px;
            right: 5px;
            width: 23px;
            height: 23px;
            background-image: url("/images/album.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center; }
          .all-posts .posts .post.timeline .post-body .post-image-wrapper img, .all-posts .posts .post.timeline .post-body .post-image-wrapper video {
            height: 100%;
            max-width: 100%;
            object-fit: cover; }
          .all-posts .posts .post.timeline .post-body .post-image-wrapper video {
            object-fit: contain !important; }
        .all-posts .posts .post.timeline .post-body .post-text {
          max-height: 23px;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 10px; }
          .theme-light .all-posts .posts .post.timeline .post-body .post-text {
            color: #152234; }
          .theme-dark .all-posts .posts .post.timeline .post-body .post-text {
            color: #FCFDFD; }
      .all-posts .posts .post .post-actions {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        transition: all .2s linear;
        border-radius: 10px; }
        .theme-light .all-posts .posts .post .post-actions {
          background-color: transparent; }
        .theme-dark .all-posts .posts .post .post-actions {
          background-color: transparent; }
        .all-posts .posts .post .post-actions button {
          padding: 0;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .10s linear;
          outline: none; }
          .theme-light .all-posts .posts .post .post-actions button {
            background-color: transparent; }
          .theme-dark .all-posts .posts .post .post-actions button {
            background-color: transparent; }
          .all-posts .posts .post .post-actions button:hover img {
            transform: scale(1.2); }
          .all-posts .posts .post .post-actions button img {
            width: 30px;
            transition: all .1s linear; }
    .all-posts .posts .custom-post-modal {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2000;
      align-items: center;
      justify-content: center; }
      .theme-light .all-posts .posts .custom-post-modal {
        background-color: rgba(255, 255, 255, 0.7); }
      .theme-dark .all-posts .posts .custom-post-modal {
        background-color: rgba(12, 22, 32, 0.7); }
      .all-posts .posts .custom-post-modal.active {
        display: flex; }
      .all-posts .posts .custom-post-modal .modal-content {
        height: 80vh;
        width: 130vh;
        min-width: 500px;
        max-width: 80%;
        position: relative;
        padding: 10px;
        border-radius: 10px;
        border: none; }
        .theme-light .all-posts .posts .custom-post-modal .modal-content {
          box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.4);
          background-color: #FCFDFD; }
        .theme-dark .all-posts .posts .custom-post-modal .modal-content {
          box-shadow: 0 0 10px 0 rgba(101, 166, 179, 0.4);
          background-color: #0C1620; }
        .all-posts .posts .custom-post-modal .modal-content .custom-modal-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          height: 30px; }
          .all-posts .posts .custom-post-modal .modal-content .custom-modal-header .date {
            text-align: left; }
            .theme-light .all-posts .posts .custom-post-modal .modal-content .custom-modal-header .date {
              color: rgba(21, 34, 52, 0.7); }
            .theme-dark .all-posts .posts .custom-post-modal .modal-content .custom-modal-header .date {
              color: rgba(252, 253, 253, 0.7); }
          .all-posts .posts .custom-post-modal .modal-content .custom-modal-header .close-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%; }
            .all-posts .posts .custom-post-modal .modal-content .custom-modal-header .close-wrapper .close-modal {
              height: 80%;
              width: auto;
              cursor: pointer; }
              .all-posts .posts .custom-post-modal .modal-content .custom-modal-header .close-wrapper .close-modal svg {
                height: 100%; }
                .theme-light .all-posts .posts .custom-post-modal .modal-content .custom-modal-header .close-wrapper .close-modal svg .st0 {
                  opacity: 0.39;
                  fill: #0E4C5C; }
                .theme-dark .all-posts .posts .custom-post-modal .modal-content .custom-modal-header .close-wrapper .close-modal svg .st0 {
                  opacity: 1;
                  fill: #fff; }
          .all-posts .posts .custom-post-modal .modal-content .custom-modal-header > * {
            flex-grow: 1;
            flex-basis: 0; }
        .all-posts .posts .custom-post-modal .modal-content .custom-modal-body {
          height: calc(100% - 35px); }
        .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body {
          display: flex; }
          .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body > * {
            flex-basis: 0; }
          .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .custom-modal-album,
          .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper,
          .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .images {
            flex-grow: 2;
            height: 100%;
            width: 100%;
            overflow: hidden; }
          .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper img, .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper video {
            width: 100%;
            height: 100%;
            object-fit: contain;
            max-width: 100%;
            max-height: 100%; }
          .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album {
            position: relative; }
            .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .album-navigation {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between; }
              .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .album-navigation .arrow {
                height: 70px;
                width: 70px;
                background-color: rgba(0, 0, 0, 0.7);
                border-radius: 70px;
                z-index: 2;
                margin: 0 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer; }
                .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .album-navigation .arrow.disabled {
                  cursor: default;
                  pointer-events: none;
                  background-color: rgba(0, 0, 0, 0.2); }
                .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .album-navigation .arrow.right img {
                  margin-left: 5px; }
                .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .album-navigation .arrow.left img {
                  margin-right: 5px; }
                .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .album-navigation .arrow img {
                  width: 55%; }
            .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .images {
              z-index: 1; }
              .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .images.looping img:first-child:not(.active), .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .images.looping video:first-child:not(.active) {
                display: none !important; }
              .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .images img:first-child:not(.active), .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .images video:first-child:not(.active) {
                display: block; }
              .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .images img,
              .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .images video {
                display: none; }
              .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .images img.active,
              .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-image-wrapper .custom-modal-album .images video.active {
                display: block; }
          .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-text {
            flex-grow: 1;
            padding: 0 20px;
            font-weight: normal;
            white-space: pre-wrap;
            -ms-word-break: break-word;
            word-break: break-word;
            overflow: auto; }
            .theme-light .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-text {
              color: #152234; }
            .theme-dark .all-posts .posts .custom-post-modal .modal-content.timeline .custom-modal-body .post-text {
              color: #FCFDFD; }
        .all-posts .posts .custom-post-modal .modal-content.story img.post-image, .all-posts .posts .custom-post-modal .modal-content.story video {
          width: 100%;
          height: 100%;
          object-fit: contain; }

@media screen and (max-width: 2190px) {
  .posts {
    grid-template-columns: repeat(3, calc((100% - 60px) / 3)) !important; } }
@media screen and (max-width: 1380px) {
  .posts {
    grid-template-columns: repeat(2, calc((100% - 30px) / 2)) !important; } }

/*# sourceMappingURL=posts.css.map */
