@import "../../../../../client/stylesheets/partials/variables";
@import "../../../../../client/stylesheets/partials/mixins";

.all-posts {
  display: grid;
  grid-template-columns: 1fr 1px 2fr;
  position: relative;
  overflow-x: visible;
  height: 100%;

  overflow-y: hidden;

  .post-entry {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .posts-navigation {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 15px;
      justify-content: space-evenly;

      a.nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        @include themify($themes) {
          color: themed('generalContrastColor');
        }

        .image-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          transform-origin: center bottom;

          width: 40px;
          height: 40px;

          transition: all .1s linear;

          &:hover {
            transform: scale(1.1);

            @include themify($themes) {
              background-color: themed('generalContrastColor');
            }
          }

          @extend %radius-50;
          @include themify($themes) {
            background-color: rgba(themed('generalContrastColor'), .6);
          }

          img, svg {
            width: 65%;
            height: 65%;
          }


          svg.svg-icon {
            .st0 {
              opacity: 1;
              @include themify($themes) {
                fill: themed('iconOverContrast')
              }
            }
          }
        }

        &.active {
          .image-wrapper {
            @include themify($themes) {
              background-color: themed('generalContrastColor');
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .post-entry-wrapper {
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 1;

        .radios {
          align-self: flex-start;
          padding-left: 15px;
        }

        svg {
          path {
            @include themify($themes) {
              fill: themed('generalContrastColor');
            }
          }
        }
      }

      .default-input {
        margin-bottom: 20px;
      }

      .default-button {
        &.upload {
          box-shadow: none;
          @include themify($themes) {
            color: themed('buttonTextColor');
            background-color: themed('generalContrastColor');
          }
        }
      }

      input[type=text], textarea, #datetimepicker {
        width: 100%;
      }
    }
  }

  .splitter {
    grid-column: 2/3;
  }

  .posts {
    grid-column: 3/4;

    padding: 30px 40px;

    display: grid;
    grid-template-columns: repeat(4, calc((100% - 90px) / 4));
    grid-auto-rows: min-content;
    grid-gap: 30px;

    overflow-y: auto;

    .filters {
      grid-column: 1/-1;

      .custom-select-wrapper {
        width: 300px;
      }
    }

    .post {
      position: relative;
      padding: 10px;
      @extend %content-box;


      &:hover {
        @include themify($themes) {
          box-shadow: 0 10px 20px 0 rgba(#000, .3);
        }
      }

      .post-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .the-type {
          font-weight: normal;

          @include themify($themes) {
            color: themed('generalContrastColor');
          }
        }

        .post-data {
          display: flex;

          @include themify($themes) {
            color: rgba(themed('generalContrastColor'), 1);
          }

          .post-date {
            margin-right: 15px;
          }
        }
      }

      &.story {
        .post-body {
          margin-top: 15px;
          display: flex;
          justify-content: center;
          align-items: center;

          height: 160px;
          width: calc(100% - 40px);

          img.post-image, video {
            height: 100%;
            max-width: 100%;
            object-fit: cover;
          }

          video {
            object-fit: contain !important;
          }
        }
      }

      &.timeline {
        .post-body {
          margin-top: 15px;

          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          height: 160px;
          width: calc(100% - 40px);

          & > div {
            flex-grow: 1;
            flex-basis: 0;
          }

          .post-image-wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 6px;
            position: relative;

            &.post-image-album {
              &::before {
                content: '';
                position: absolute;
                top: 5px;
                right: 5px;
                width: 23px;
                height: 23px;

                background-image: url("/images/album.png");

                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;

                display: flex;
                align-items: center;
                justify-content: center;
              }
            }

            img, video {
              height: 100%;
              max-width: 100%;
              object-fit: cover;
            }

            video {
              object-fit: contain !important;
            }
          }

          .post-text {
            max-height: 23px;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;

            padding-left: 10px;

            @include themify($themes) {
              color: themed('cardTextColor');
            }
          }
        }
      }

      .post-actions {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        @include themify($themes) {
          background-color: transparent;
        }

        transition: all .2s linear;
        border-radius: 10px;

        button {
          padding: 0;
          width: 30px;
          height: 30px;
          @extend %radius-50;
          display: flex;
          align-items: center;
          justify-content: center;
          @include themify($themes) {
            //box-shadow: 0 3px 5px 0px rgba(themed('contentBoxShadow'), .5);
            background-color: transparent;
          }

          transition: all .10s linear;

          &:hover {
            @include themify($themes) {
              //box-shadow: 0 5px 10px 3px rgba(themed('contentBoxShadow'), .4);
            }
            img {
              transform: scale(1.2);
            }
          }

          outline: none;

          //&.play-pause {
          //  @include themify($themes) {
          //    background-color: themed('buttonColor');
          //  }
          //}
          //&#delete {
          //  background-color: $mainRed;
          //}
          //
          //&#preview {
          //  background-color: map_get(map_get($themes, 'light'), 'inputColor');;
          //}

          img {
            width: 30px;
            transition: all .1s linear;
          }
        }
      }
    }

    .custom-post-modal {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2000;

      align-items: center;
      justify-content: center;

      @include themify($themes) {
        background-color: rgba(themed('contentActionsColor'), .7);
      }


      &.active {
        display: flex;
      }

      .modal-content {
        height: 80vh;
        width: 130vh;

        min-width: 500px;
        max-width: 80%;

        position: relative;
        padding: 10px;
        border-radius: 10px;
        border: none;

        @include themify($themes) {
          box-shadow: 0 0 10px 0 rgba(themed('contentBoxShadow'), .4);
          background-color: themed('panelsColor');
        }


        .custom-modal-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          height: 30px;

          //.to {
          //  .the-type {
          //    font-weight: normal;
          //
          //    @include themify($themes) {
          //      color: themed('generalContrastColor');
          //    }
          //  }
          //}

          .date {
            text-align: left;

            @include themify($themes) {
              color: rgba(themed('generalContrastColor'), .7);
            }
          }
          
          .close-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            .close-modal {
              height: 80%;
              width: auto;
              cursor: pointer;
              svg {
                height: 100%;

                .st0 {
                  @include themify($themes) {
                    opacity: themed('logoOpacity');
                    fill: themed('navIconColor');
                  }
                }
              }
            }
          }
          > * {
            flex-grow: 1;
            flex-basis: 0;
          }
        }


        .custom-modal-body {
          height: calc(100% - 35px);
        }

        &.timeline {
          .custom-modal-body {
            display: flex;

            > * {
              flex-basis: 0;
            }

            .custom-modal-album,
            .post-image-wrapper,
            .images {
              flex-grow: 2;
              height: 100%;
              width: 100%;
              overflow: hidden;
            }

            .post-image-wrapper {
              img, video {
                width: 100%;
                height: 100%;
                object-fit: contain;
                max-width: 100%;
                max-height: 100%;
              }

              .custom-modal-album {
                position: relative;

                .album-navigation {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;

                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  .arrow {
                    height: 70px;
                    width: 70px;
                    background-color: rgba(#000, .7);
                    border-radius: 70px;
                    z-index: 2;
                    margin: 0 15px;

                    &.disabled {
                      cursor: default;
                      pointer-events: none;

                      background-color: rgba(#000, .2);
                    }

                    &.right {
                      img {
                        margin-left: 5px;
                      }
                    }
                    &.left {
                      img {
                        margin-right: 5px;
                      }
                    }

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    img {
                      width: 55%;
                    }
                  }
                }


                .images {
                  z-index: 1;

                  &.looping {
                    & img:first-child,
                    & video:first-child {
                      &:not(.active) {
                        display: none !important;
                      }
                    }
                  }

                  & img:first-child,
                  & video:first-child {
                    &:not(.active) {
                      display: block;
                    }
                  }

                  img,
                  video{
                    display: none;
                  }
                  img.active,
                  video.active {
                    display: block;
                  }
                }
              }
            }

            .post-text {
              flex-grow: 1;
              padding: 0 20px;
              font-weight: normal;
              white-space: pre-wrap;
              -ms-word-break: break-word;
              word-break: break-word;

              overflow: auto;

              @include themify($themes) {
                color: themed('cardTextColor');
              }
            }
          }
        }

        &.story {
          img.post-image, video {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 2190px) {
  .posts {
    grid-template-columns: repeat(3, calc((100% - 60px) / 3)) !important;
  }
}

@media screen and (max-width: 1380px) {
  .posts {
    grid-template-columns: repeat(2, calc((100% - 30px) / 2)) !important;
  }
}