@import "../../../../client/stylesheets/partials/variables";
@import "../../../../client/stylesheets/partials/mixins";

.sidenav {
  grid-area: sidebar;

  @include themify($themes) {
    background-image: linear-gradient(to bottom, themed('sideNavGrad1') 50%, themed('sideNavGrad2'));
    background-color: themed('panelsColor');
  }

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;

  .logo-and-add {
    flex-shrink: 0;
    padding: 0 36px 5px;

    @include themify($themes) {
      box-shadow: 0 0 3px 1px rgba(#fff, .15);
    }

    a.brand {
      height: $nav-height;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;

      img {
        height: 70%;
      }
    }
  }

  .logo {
    border-radius: 0px;
    width: 100%;
    height: 90px;

    padding: 25px;
    margin-top: 5px;
  }

  #addProfileForm {
    display: flex;
    align-items: center;
    flex-direction: column;

    input, select {
      width: 100%;
    }
  }

  .default-button {
    margin-top: 15px;
  }

  .sidenav-select {
    @include themify($themes) {
      color: rgba(themed('sideNavInputColor'), .4);
    }

    .custom-select-value {
      @include themify($themes) {
        color: rgba(themed('sideNavInputColor'), .4);
        border-bottom: 2px solid rgba(themed('sideNavInputColor'), .4);
      }

      &.active-value {
        @include themify($themes) {
          color: rgba(themed('sideNavInputColor'), 1);
        }
      }
    }

    .option {
      @include themify($themes) {
        color: rgba(themed('sideNavGrad1'), 1);
      }

      &:hover {
        @include themify($themes) {
          color: rgba(themed('mainAccentColor'), 1);
        }
      }
    }
  }

  .default-input {
    @include themify($themes) {
      color: rgba(themed('sideNavInputColor'), 1);
      border-bottom: 2px solid rgba(themed('sideNavInputColor'), .4);
    }

    &::placeholder {
      @include themify($themes) {
        color: rgba(themed('sideNavInputColor'), .4);
      }
    }
    &:focus {
      @include themify($themes) {
        color: rgba(themed('sideNavInputColor'), 1);
        border-bottom: 2px solid rgba(themed('sideNavInputColor'), 1);
      }
    }
  }
}

.payment-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);

  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    img {
      background-color: #fff;
      border-radius: 300px;
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }
    
    .profile-name {
      color: #fff;
      font-size: 20px;
    }
  }

  #close-payment-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;

    img {
      width: 20px;
    }
  }

  &.active {
    display: flex;
  }

  .payment-modal-content {
    padding: 40px;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;

    @include themify($themes) {
      background-image: linear-gradient(to bottom right, themed('sideNavGrad1'), themed('sideNavGrad2'));
      //background-color: themed('sideNavGrad2');
    }
  }
}

.search {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  overflow-y: auto;


  .search-field {
    padding: 3% 10% 8%;
    position: relative;

    svg {
      .st0 {
        @include themify($themes) {
          fill: themed('generalContrastColor')
        }
      }
    }

    .search-input {
      z-index: 1;
      width: $sideNav-input-width;
      margin: 0 auto;
    }

    .search-icon {
      z-index: 0;
      width: 21px;
      position: absolute;
      right: 56px;
      top: 17px;
    }
  }

  .profile {
    padding: 10px 16px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .1s linear;

    .profile-details {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      margin-right: 10px;
    }

    .name-and-picture {
      display: flex;
      align-items: center;
    }

    .name {
      font-weight: normal;

      max-width: 128px;
      text-overflow: ellipsis;
      display: inline-block;
      overflow: hidden;

      color: #fff;
    }

    .profile-pic {
      width: $profile-pic-size;
      height: $profile-pic-size;
      @extend %radius-50;

      margin-right: 10px;
    }

    .extend-button {
      background-color: transparent;
      background-image: url('/images/Plus.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
      width: 20px;
      height: 20px;
      padding: 0;
      outline: none;
    }

    &:hover {
      @include themify($themes) {
        background-color: rgba(themed('profileHover'), .14);
      }
    }

    &.active {
      @include themify($themes) {
        background-color: rgba(themed('profileHover'),.14);
      }
    }
  }
}



