@import "../../../../client/stylesheets/partials/variables";
@import "../../../../client/stylesheets/partials/mixins";

.nav-menu {
  grid-area: topnav;

  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 10px;

  @include themify($themes) {
    box-shadow: 2px 3px 10px 0px rgba(#000, .4);
    background-color: themed('topNavColor');
  }

  & > * {
    flex-basis: 0;
    flex-grow: 1;
  }

  .profile-selected {
    //width: 400px;

    display: flex;
    align-items: center;

    font-weight: normal;
  }

  .profile {
    @include themify($themes) {
      color: themed('generalTextColor')
    }

    .profile-pic {
      width: $profile-pic-size;
      height: $profile-pic-size;
      margin: 0 5px 0 15px;

      @extend %radius-50;
    }
  }


  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin: 0 5px;

      svg {
        width: $nav-pic-size;
        height: $nav-pic-size;

        transition: all .15s linear;

        .st0 {
          opacity: 1;
          transition: all 0.15s linear;
          @include themify($themes) {
            fill: rgba(themed('navIconColor'), .5);
          }
        }
      }

      &:hover {
        svg {
          .st0 {
            @include themify($themes) {
              fill: rgba(themed('navIconColor'), 1);
            }
          }
        }
      }

      &.active {
        svg {
          width: $nav-pic-size + 7px;
          height: $nav-pic-size + 7px;

          .st0 {
            @include themify($themes) {
              fill: rgba(themed('navIconColor'), 1);
            }
          }
        }
      }
    }
  }

  .actions-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    align-self: stretch;
  }

  .actions {
    cursor: pointer;
    padding: 0 30px;
    position: relative;

    @include themify($themes) {
      color: themed('generalTextColor')
    }

    display: flex;
    align-items: center;

    &:hover {
      @include themify($themes) {
        background-color: rgba(themed('generalContrastColor'), .2);
      }
    }

    &.menu-active {
      @include themify($themes) {
        background-color: rgba(themed('generalContrastColor'), .2);
      }
    }

    svg {
      width: 15px;
      height: auto;
      margin-left: 5px;

      .st0 {
        @include themify($themes) {
          opacity: themed('logoOpacity');
          fill: themed('generalContrastColor')
        }
      }
    }

    .actions-menu {
      display: none;
      flex-direction: column;

      min-width: 160px;
      position: absolute;
      bottom: 0;
      right: 0;

      transform: translateY(100%);

      @include themify($themes) {
        box-shadow: 0 5px 10px 0 rgba(themed('contentBoxShadow'), .3);
        background-color: themed('panelsColor');
      }

      &.show-menu {
        display: flex !important;
      }

      > * {
        transition: all .1s linear;
        text-decoration: none;
        padding: 15px 20px;

        @include themify($themes) {
          color: themed('generalContrastColor');
        }

        &:hover {
          @include themify($themes) {
            background-color: rgba(themed('generalContrastColor'), .2);
          }
        }
      }

      #logout {
        color: $mainRed;
        text-decoration: none;
      }
    }
  }
}












