@import "../../../../client/stylesheets/partials/variables";
@import "../../../../client/stylesheets/partials/mixins";

.pages-nav {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px 10px 0;

  a {
    position: relative;
    font-size: 1em;
    padding: 10px 0;
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    line-height: initial !important;

    &:not(.nav-register)::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 5px;
      height: 2px;
      width: 100%;
      background-color: $mainAccent;
      transform: scale(0,1);
      transition: all .1s linear;
    }

    &:not(.nav-register):hover {
      &::before {
        transform: scale(1,1);
      }
    }

    &.nav-register {
      background-color: #fff;
      margin: 0;
      padding: 10px 20px;
      border-radius: 10px;
      color: $signupGrad1;
    }
  }
}

.flip-colors {
  .pages-nav {
    position: relative;
    justify-content: flex-end;
    box-shadow: 0 3px 3px 0 rgba(51,51,51,.4);

    a {
      color: $signupGrad1;

      &:not(.nav-register)::before {
        background-color: $mainAccent;
      }

      &.nav-register {
        background-color: $signupGrad1;
        color: #fff;
      }
    }
  }
}

.separate-page {
  .pages-nav {
    a[href='#features'],
    a[href='#about'] {
      display: none;
    }
  }
}