@import "../../../../../client/stylesheets/partials/variables";
@import "../../../../../client/stylesheets/partials/mixins";

.config-component {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px 0;

  .config-wrapper {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    align-items: center;
    justify-items: center;
  }

  .config-inputs {
    width: 300px;
  }

  .config-input {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;

    .default-button, .default-input {
      margin: 0;
    }

    .default-input {
      margin-right: 10px;
      position: relative;
      flex-grow: 1;
      //max-width: 400px;
    }
  }

  .config-data {
    font-size: 1.3em;
    width: 80%;

    .data-group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 15px 0;

      @include themify($themes) {
        color: rgba(themed('generalContrastColor'),.75);
      }

      .data-value {
        img {
          height: 23px;
        }
      }
    }
  }

}