<template name="SidePageTemplate">
    <div class="details">
        <img src="/images/side_pages/coment_balloon.svg" alt="" class="animated-image am0"
             style="width: 120px; left: 15%">
        <img src="/images/side_pages/coment_balloon.svg" alt="" class="animated-image am1"
             style="width: 80px; left: 60%">
        <img src="/images/side_pages/coment_balloon.svg" alt="" class="animated-image am2"
             style="width: 60px; left: 80%">

        <img src="/images/side_pages/follower_ballon.svg" alt="" class="animated-image am3"
             style="width: 60px; left: 12%">
        <img src="/images/side_pages/follower_ballon.svg" alt="" class="animated-image am4"
             style="width: 100px; left: 72%">
        <img src="/images/side_pages/follower_ballon.svg" alt="" class="animated-image am5"
             style="width: 80px; left: 45%">

        <img src="/images/side_pages/like_balloon.svg" alt="" class="animated-image am6" style="width: 140px; left: 18%">
        <img src="/images/side_pages/like_balloon.svg" alt="" class="animated-image am7" style="width: 40px; left: 50%">
        <img src="/images/side_pages/like_balloon.svg" alt="" class="animated-image am8" style="width: 70px; left: 90%">

        <img src="/images/side_pages/home_icon.svg" alt="" class="stationary-image"
             style="width: 120px; left: 75%; top: 60%;">
        <img src="/images/side_pages/home_icon.svg" alt="" class="stationary-image"
             style="width: 60px; left: 20%; top: 15%;">
        <img src="/images/side_pages/search_icon.svg" alt="" class="stationary-image"
             style="width: 100px; left: 30%; top: 45%;">
        <img src="/images/side_pages/search_icon.svg" alt="" class="stationary-image"
             style="width: 100px; left: 50%; top: 80%;">
        <img src="/images/side_pages/comment_icon.svg" alt="" class="stationary-image"
             style="width: 100px; left: 15%; top: 85%;">
        <img src="/images/side_pages/heart_icon.svg" alt="" class="stationary-image"
             style="width: 100px; left: 10%; top: 50%;">
        <img src="/images/side_pages/user_icon.svg" alt="" class="stationary-image"
             style="width: 100px; left: 80%; top: 20%;">
        <img src="/images/side_pages/comment_icon.svg" alt="" class="stationary-image"
             style="width: 30px; left: 40%; top: 15%;">
        <img src="/images/side_pages/post_icon.svg" alt="" class="stationary-image"
             style="width: 60px; left: 90%; top: 5%;">
        <img src="/images/side_pages/post_icon.svg" alt="" class="stationary-image"
             style="width: 100px; left: 75%; top: 93%;">


        <h1 class="primary-heading">InstagramBot</h1>
        <h2 class="secondary-heading">Find the right ones</h2>

        <div class="logo">
            <span>powered by: </span>
<!--            TODO:-->
            <a href="https://www.your-site.com"><img src="images/rfl_logo_large.svg" alt=""></a>
        </div>
    </div>
</template>