@import "../../../../../client/stylesheets/partials/variables";
@import "../../../../../client/stylesheets/partials/mixins";

.messages {
  display: grid;
  grid-template-columns: 1fr 1px 2fr;
  position: relative;

  overflow-y: hidden;

  .messages-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .messages-navigation {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 15px;
      justify-content: space-evenly;

      a.nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        @include themify($themes) {
          color: themed('generalContrastColor');
        }

        .image-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          transform-origin: center bottom;

          width: 40px;
          height: 40px;

          transition: all .1s linear;

          &:hover {
            transform: scale(1.1);

            @include themify($themes) {
              background-color: themed('generalContrastColor');
            }
          }

          @extend %radius-50;
          @include themify($themes) {
            background-color: rgba(themed('generalContrastColor'), .6);
          }

          img, svg {
            width: 65%;
            height: 65%;
          }

          svg.svg-icon {
            .st0 {
              opacity: 1;
              @include themify($themes) {
                fill: themed('iconOverContrast')
              }
            }
          }
        }

        &.active {
          .image-wrapper {
            @include themify($themes) {
              background-color: themed('generalContrastColor');
              transform: scale(1.1);
            }
          }
        }
      }
    }

    .messages-form {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 300px;

      form {
        width: 100%;
      }

      .m-form-group {
        margin: 10px 0;
      }

      .input-group.date {
        width: 100%;
      }
      input, textarea {
        width: 100%;
      }

      textarea + a svg {
        path {
          @include themify($themes) {
            fill: themed('generalContrastColor');
          }
        }
      }

      .messages-dropzone {
        height: 118px;
        margin-top: 0;
      }

      .add-users {
        position: relative;

        #addUser {
          margin: 0 !important;
          padding: 0 !important;
          width: 20px;
          height: 20px;

          display: flex;
          align-items: center;
          justify-content: center;

          @extend %radius-50;

          position: absolute;
          top: 50%;
          right: 0;

          transform: translateY(-50%);

          @include themify($themes) {
            background-color: themed('buttonColor');
          }

          img {
            width: 60%;
          }

          outline: none;
        }
      }
    }

    .messages-remaining {
      font-weight: normal;
      margin-bottom: 40px;
      width: 300px;

      @include themify($themes) {
        color: rgba(themed('generalContrastColor'),.5);
      }

      .mr-number-large {
        margin-bottom: 0;

        @include themify($themes) {
          color: themed('generalContrastColor');
        }
      }

      .mr-info-text {
        font-size: 1.1em;

        @include themify($themes) {
          color: rgba(themed('generalContrastColor'), .8);
        }
      }
    }

    .upload-btn-wrapper {
      display: flex;
      justify-content: center;
    }

    .default-button {
      &.upload {
        box-shadow: none;
        @include themify($themes) {
          color: themed('buttonTextColor');
          background-color: themed('generalContrastColor');
        }
      }
    }
  }

  .messages-contents {
    grid-column: 3/4;

    padding: 30px 40px;

    display: grid;
    grid-template-columns: repeat(4, calc((100% - 90px) / 4));
    grid-auto-rows: min-content;
    grid-gap: 30px;

    overflow-y: auto;

    .filters {
      grid-column: 1/-1;

      .custom-select-wrapper {
        width: 300px;
      }
    }

    .wf-message {
      max-height: 164px;
      overflow: hidden;
      text-overflow: ellipsis;

      @include themify($themes) {
        color: themed('cardTextColor');
      }
    }

    .message {
      position: relative;
      padding: 10px;
      @extend %content-box;

      &:hover {
        @include themify($themes) {
          box-shadow: 0 10px 20px 0 rgba(#000, .3);
        }
      }

      &.when-followed {
        min-height: 160px;

        .message-header {
          justify-content: center;
        }
        .message-body {
          margin-top: 5px;
          width: calc(100% - 40px);
        }

        .is-working {
          width: 25px;
          height: 25px;
        }
      }

      &.message-user-groups {
        .message-header {
          justify-content: center;
        }

        .message-body {
          width: 70%;
          margin: 10px auto 0;
          display: grid;
          align-items: center;
          justify-items: start;
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: repeat(6, 1fr);
          grid-column-gap: 30px;
          grid-auto-flow: column;

          .user {
            @include themify($themes) {
              color: themed('cardTextColor');
            }

            overflow: hidden;
            max-width: 100%;
            text-overflow: ellipsis;
          }

          .user:nth-child(12) {
            &::after {
              content: '...';
            }
            span {
              display: none;
            }
          }
          .user:nth-child(n+13) {
            display: none;
          }
        }
      }

      .message-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .the-type {
          font-weight: normal;

          @include themify($themes) {
            color: themed('cardTextColor');
          }
        }
      }

      &.file-message {
        .message-body {
          margin-top: 15px;
          display: flex;
          justify-content: center;
          align-items: center;

          height: 160px;
          width: calc(100% - 40px);

          img.message-image, video {
            height: 100%;
            max-width: 100%;
            object-fit: cover;
          }

          video {
            object-fit: contain !important;
          }
        }
      }

      &.text-message {
        .message-body {
          margin-top: 15px;
          display: flex;
          justify-content: center;
          align-items: flex-start;

          height: 160px;
          overflow: hidden;
          width: calc(100% - 40px);

          p.message-text {
            padding: 0 10px;
            word-break: break-word;

            @include themify($themes) {
              color: themed('cardTextColor');
            }
          }
        }
      }

      .message-actions {
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        @include themify($themes) {
          background-color: transparent;
        }

        transition: all .2s linear;
        border-radius: 10px;

        button {
          padding: 0;
          width: 30px;
          height: 30px;
          @extend %radius-50;
          display: flex;
          align-items: center;
          justify-content: center;

          @include themify($themes) {
            background-color: transparent;
            //box-shadow: 0 3px 5px 0px rgba(themed('contentBoxShadow'), .5);
          }

          transition: all .10s linear;

          &:hover {
            @include themify($themes) {
              //box-shadow: 0 5px 10px 3px rgba(themed('contentBoxShadow'), .4);
            }

            img {
              transition: all .1s linear;
              transform: scale(1.2);
            }
          }

          outline: none;

          //
          //&.play-pause {
          //  @include themify($themes) {
          //    background-color: themed('buttonColor');
          //  }
          //}
          //&#delete {
          //  background-color: $mainRed;
          //}
          //
          //&#preview {
          //  background-color: map_get(map_get($themes, 'light'), 'inputColor');;
          //}

          img {
            width: 30px;
          }
        }
      }
    }
  }

  .custom-message-modal {
    display: none;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;

    @include themify($themes) {
      background-color: rgba(themed('contentActionsColor'), .7);
    }


    &.active {
      display: flex;
    }

    .c-modal-content {
      height: 80%;
      min-width: 500px;
      max-width: 80%;
      position: relative;
      padding: 10px;
      border-radius: 10px;
      border: none;

      @include themify($themes) {
        box-shadow: 0 0 10px 0 rgba(themed('contentBoxShadow'), .4);
        background-color: themed('panelsColor');
      }

      &.file-message {
        img.message-image, video {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &.text-message {
        max-width: 600px;
        height: unset;

        .message-text {
          padding: 30px;
          font-weight: normal;

          @include themify($themes) {
            color: themed('cardTextColor');
          }
        }
      }
    }

    .c-modal-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      height: 30px;

      .to {
        .the-type {
          font-weight: normal;

          @include themify($themes) {
            color: themed('cardTextColor');
          }
        }
      }

      .date {
        text-align: center;

        @include themify($themes) {
          color: rgba(themed('cardTextColor'), .7);
        }
      }

      .close-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        .close-modal {
          height: 80%;
          width: auto;
          cursor: pointer;
          svg {
            height: 100%;

            .st0 {
              @include themify($themes) {
                opacity: themed('logoOpacity');
                fill: themed('navIconColor');
              }
            }
          }
        }
      }
      > * {
        flex-grow: 1;
        flex-basis: 0;
      }
    }

    .c-modal-body {
      height: calc(100% - 35px);
    }
  }

  .added-users {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
    grid-auto-rows: minmax(15px, auto);
    //grid-auto-flow: column;
  }

  .username {
    font-weight: normal;
    margin: 3px 0;
    @include themify($themes) {
      color: themed('generalContrastColor');
    }
  }

  // OTHER MODALS

  .custom-group-modal, .custom-when-followed-modal {
    display: none;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;

    @include themify($themes) {
      background-color: rgba(themed('contentActionsColor'), .7);
    }

    &.active {
      display: flex;
    }

    .c-modal-content {
      padding: 10px 10px;
      border-radius: 10px;
      max-width: 700px;

      @include themify($themes) {
        box-shadow: 0 0 10px 0 rgba(themed('contentBoxShadow'), .5);
        background-color: themed('panelsColor');
      }
    }

    .c-modal-body {
      margin: 7px 0 30px;
      padding: 0 30px;
    }

    .message-text {
      font-weight: normal;
      @include themify($themes) {
        color: themed('generalContrastColor');
      }
    }

    .c-modal-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      height: 30px;

      .group-name {
        font-weight: normal;
        font-size: 1.2em;
        padding: 0 30px;

        @include themify($themes) {
          color: rgba(themed('generalContrastColor'), .7);
        }
      }

      .close-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        .close-modal {
          height: 80%;
          width: auto;
          cursor: pointer;
          svg {
            height: 100%;

            .st0 {
              @include themify($themes) {
                opacity: themed('logoOpacity');
                fill: themed('navIconColor');
              }
            }
          }
        }
      }
    }
  }

  .custom-when-followed-modal {
    .c-modal-header {
      justify-content: flex-end !important;
    }
  }
}

@media screen and (max-width: 2190px) {
  .messages-contents {
    grid-template-columns: repeat(3, calc((100% - 60px) / 3)) !important;
  }
}

@media screen and (max-width: 1380px) {
  .messages-contents {
    grid-template-columns: repeat(2, calc((100% - 30px) / 2)) !important;
  }
}





