@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

@import "partials/variables";
@import "partials/mixins";

.main-app {
  height: 100vh;

  display: grid;
  grid-template-columns: $sideNav-width 8fr;
  grid-template-rows: $nav-height 1fr;
  grid-template-areas:
    "sidebar topnav"
    "sidebar app";

  position: relative;
  font-family: "Open Sans", sans-serif !important;
}

// Mozilla focus  reset for links and buttons
button::-moz-focus-inner,
a::-moz-focus-inner {
  border: 0;
}

.panel-components {
  grid-area: app;
  z-index: 1;
  overflow-x: hidden;

  @include themify($themes) {
    background-color: themed('appColor');
  }
}


.default-input {
  border: none;
  font-weight: normal;
  background: transparent;
  outline: none;
  margin-bottom: 5px;
  display: block;
  padding: 5px;
  font-size: 15px;

  @include themify($themes) {
    border-bottom: 2px solid rgba(themed('panelInputColor'), .4);
    color: rgba(themed('panelInputColor'), 1);
  }

  &::placeholder {
    @include themify($themes) {
      color: rgba(themed('panelInputColor'), .4);
    }
  }

  &:focus {
    @include themify($themes) {
      border-bottom: 2px solid rgba(themed('panelInputColor'), 1);
      color: rgba(themed('panelInputColor'), 1);
    }
  }
}

.default-textarea {
  border: 2px solid;
  border-radius: 10px;
  outline: none;
  padding: 7px;
  resize: none;
  background-color: transparent;

  @include themify($themes) {
    border: 2px solid rgba(themed('generalContrastColor'), .4);
    color: rgba(themed('generalContrastColor'), 1);
  }

  &::placeholder {
    @include themify($themes) {
      color: rgba(themed('generalContrastColor'), .4);
    }
  }

  &:focus {
    @include themify($themes) {
      border: 2px solid rgba(themed('generalContrastColor'), 1);
      color: rgba(themed('generalContrastColor'), 1);
    }
  }
}

.default-button {
  padding: 10px 40px;
  margin: 10px 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  transition: all .1s linear;

  @include themify($themes) {
    color: themed('buttonColor');
    border: 2px solid themed('buttonColor');
    background-color: transparent;
  }

  &:hover {
    @include themify($themes) {
      color: themed('panelButtonHoverTextColor');
      background-color: themed('buttonColor');
    }
  }
}

.radio-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;

  @include themify($themes) {
    color: themed('generalContrastColor');
  }

  label {
    cursor: pointer;
  }
  label.toggler {
    width: 13px;
    height: 13px;
    @extend %radius-50;

    margin-right: 5px;

    @include themify($themes) {
      border: 1px solid rgba(themed('generalContrastColor'), .7);
      background-color: transparent;
    }
  }

  input[type=radio] {
    display: none;

    &:checked + label {
      @include themify($themes) {
        border: 1px solid themed('generalContrastColor');
        background-color: themed('generalContrastColor');
      }
    }
  }
}

.trash-icon {
  .cap {
    transition: all .1s linear;
  }
  &:hover {
    & .cap {
      transform: rotateZ(15deg) translateY(3px);
    }
  }
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-weight: normal;
    color: $darkBlueOpacity04 !important;
  }

  .styled-checkbox {
    display: none;
  }

  label.toggler {
    margin: 0;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 9px;
    width: 35px;
    height: 16px;
    position: relative;

    @include themify($themes) {
      border: 1px solid $darkBlueOpacity04;
      background-color: transparent;
    }

    &::before {
      transition: left .15s linear;
      left: 2px;
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      @extend %radius-50;

      @include themify($themes) {
        background-color: $darkBlueOpacity04;
      }
    }
  }

  .styled-checkbox:checked {
    + label.toggler {

      @include themify($themes) {
        //border: 1px solid rgba(themed('checkBoxColor'),1);
        border: 1px solid rgba(themed('mainAccentColor'),1);
        background-color: transparent;
      }

      &::before {
        left: calc(100% - 14px);

        @include themify($themes) {
          //background-color: rgba(themed('checkBoxColor'),1);
          background-color: rgba(themed('mainAccentColor'),1);
        }
      }
    }
  }
}

video {
  outline: none;
}

[class $= "-header"] {
  @include themify($themes) {
    color: themed('generalContrastColor');
  }
}

.splitter {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .line {
    width: 1px;
    height: 80%;

    @include themify($themes) {
      background-color: themed('generalContrastColor')
    }
  }
}

.themed-label {
  @include themify($themes) {
    color: themed('generalContrastColor');
  }
}


.test-modal {
  display: none;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  position: absolute;
  background-color: #fff;
  z-index: 10000;
}

.error {
  color: red;
  text-align: center;
}

.success {
  color: green;
}

.section-title {
  margin: 20px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 0;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 1px;
  background-color: #f1f1f1;
  color: black;
}


input[type=select]{
  width: 100%;
  padding: 5px 10px;
  margin: 1px 0;
  box-sizing: border-box;
}



@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
/*Loader End*/

/*file button style*/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/*file button style end*/







// Side pages



.side-page-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.details {
  > *:not(img) {
    z-index: 2;
  }

  overflow: hidden;
  position: relative;
  grid-column: 1/2;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(45deg, $signupGrad1, $signupGrad2);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .primary-heading, .secondary-heading {
    color: #fff;
  }

  .primary-heading {
    font-weight: 600;
    font-size: 6em;
  }

  .secondary-heading {
    font-weight: 400;
    font-size: 1.5em;
  }

  .logo {
    position: absolute;
    bottom: 15px;
    left: 15px;

    display: flex;
    align-items: center;

    color: rgba(#fff, .3);

    img {
      width: 160px;
    }
  }

  .stationary-image {
    position: absolute;
    z-index: 1;
  }

  .animated-image {
    position: absolute;
    z-index: 1;
  }

  $class-slug: am !default;
  @for $i from 0 through $images-length {
    $position: map-get($animated-images-positions, p- + $i);

    .#{$class-slug}#{$i} {
      top: $position;
      animation: float-#{$i} (($i+1) * 3 + 10) + s linear infinite;
    }

    @keyframes float-#{$i} {
      0% {
        top: $position - 100%;
      }
      100% {
        top: $position + 100%;
      }
    }
  }
}

.side-pages-form {
  grid-column: 2/3;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0 3%;

  h1 {
    justify-self: flex-start;
    margin-bottom: 15%;
    font-size: 2.3em;

    @include themify($themes) {
      color: themed('generalContrastColor');
    }
  }


  .form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 70%;

    .profile-data {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 40%;
        @extend %radius-50
      }

      .username {
        font-size: 18px;
      }
    }

    .buttons {
      margin-top: 30px;
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }

  p.form-description {
    margin-bottom: 20%;

    @include themify($themes) {
      color: rgba(themed('generalContrastColor'), .4);
      font-size: 1.25em;
    }
    &.colored {
      @include themify($themes) {
        color: themed('buttonColor');
      }
    }
  }

  form {
    width: 60%;
    max-width: 700px;

    .default-button {
      font-size: 1.2em;
      padding: 2.5% 10%;
      margin-top: 10%;
      margin-bottom: 5%;
      text-decoration: none;
    }
  }

  .default-link-button {
    @include themify($themes) {
      color: themed('buttonColor');
      background-color: transparent !important;
      font-size: 1.2em;
    }
  }

  input {
    width: 100%;
    font-size: 1.2em;
  }

  .already-have {
    font-size: 1.2em;
    text-align: center;
    color: rgba(#000, .5);

    a {
      @include themify($themes) {
        color: themed('buttonColor')
      }
    }
  }
}


.default-dropzone {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin: 10px 0;


  @include themify($themes) {
    border: 2px dashed rgba(themed('generalContrastColor'), .5);
  }

  input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

    svg, img {
      width: 60px;
    }

    #file-name {
      padding: 0 17px;
      text-align: center;

      @include themify($themes) {
        color: themed('generalContrastColor');
        font-size: 1.15em;
      }
    }
  }
}



.upload-loader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  margin: 10px 0;

  .description {
    margin: 0 0 5px;
    font-size: 1.1em;

    @include themify($themes) {
      color: themed('generalContrastColor');
    }
  }

  .c-progress {
    border-radius: 30px;
    height: 5px;
    overflow: hidden;
    width: 100%;

    @include themify($themes) {
      background-color: #8E96A2;
    }

    .c-progress-bar {
      height: 100%;
      display: flex;
      transition: all .05s linear;
      width: 45%;

      @include themify($themes) {
        background-color: themed('generalContrastColor');
      }
    }
  }
}



$transition-duration: 2s;
$path-length: 157px; // Retrieved using SVG's getTotalLength()


/*Loader Start*/
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, .7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000;


  svg {
    overflow: visible;
    width: 100px;
    height: 150px;

    g {
      animation: slide $transition-duration linear infinite;

      &:nth-child(2) {
        animation-delay: $transition-duration / 4;

        path {
          animation-delay: $transition-duration / 4;
          stroke-dasharray: 0px $path-length + 1;
          stroke-dashoffset: 1px;
        }
      }
    }

    path{
      stroke: url(#gradient);
      stroke-width: 20px;
      stroke-linecap: round;
      fill: none;
      stroke-dasharray: 0 $path-length;
      stroke-dashoffset: 0;
      animation: escalade $transition-duration cubic-bezier(0.8, 0, 0.2, 1) infinite;
    }
  }

  @keyframes slide {
    0% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(50px);
    }
  }

  @keyframes escalade {
    0% {
      stroke-dasharray: 0 $path-length;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: $path-length - 1 $path-length;
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dasharray: $path-length - 1 $path-length;
      stroke-dashoffset: -($path-length - 1);
    }
  }
}

.back-button {
  text-decoration: none !important;
  font-size: 1.2em;

  @include themify($themes) {
    color: themed('generalContrastColor')
  }
}


// Small loader

.loader-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  @include themify($themes) {
    background: themed('cardTextColor');
  }
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Custom progressbar

.default-progress {
  height: 8px;
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px 0 7px;

  @include themify($themes) {
    background-color: rgba(themed('generalContrastColor'), .4);
  }

  .default-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    @include themify($themes) {
      background-color: rgba(themed('generalContrastColor'), 1);
    }
  }
}

// Custom progressbar



// Custom select

.custom-select-wrapper {
  width: 100%;
  font-size: 15px;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  width: inherit;
  position: relative;
}

.custom-select-value {
  height: 33px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 5px;
  cursor: pointer;
  color: #aaa;
  position: relative;
  z-index: 4;

  @include themify($themes) {
    background-color: themed('sideNavGrad1');
    border-bottom: 2px solid rgba(themed('generalContrastColor'), .4);
    color: rgba(themed('generalContrastColor'), .4);
  }

  &.off-panel {
    background-color: #fff !important;
  }

  &.panel-select {
    @include themify($themes) {
      background-color: themed('appColor') !important;
    }
  }
}

.custom-select-value .value {
  padding-bottom: 5px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-select-value img {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 16px;
  transform: translate(0, -50%);
  transition: all .3s ease-in-out;
}

.custom-select-value.active img {
  transform: translate(0,-40%) rotateZ(180deg);
}

.custom-select-value.active {
  @include themify($themes) {
    background-color: themed('sideNavGrad1');
    border-bottom: 2px solid rgba(themed('generalContrastColor'), 1);
    color: rgba(themed('generalContrastColor'), 1);
  }
}

.custom-select-value.active-value {
  @include themify($themes) {
    color: rgba(themed('generalContrastColor'), 1);
  }
}

.custom-select-value.error {
  color: rgba(202,34,34,.6);
  border-bottom: 2px solid rgba(202,34,34,.6);
}

.custom-select-options {
  width: 100%;
  transform: scale(1,0);
  transition: all .2s linear;
  transform-origin: top;
  position: absolute;
  top: 50%;
  padding: 25px 20px 10px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #fff;
  z-index: 3;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
}

.custom-select-options > * {
  opacity: 0;
}

.custom-select-options.active {
  transform: scale(1,1);
}

.custom-select-options.active > * {
  opacity: 1;
}

.custom-select-options .option {
  padding: 10px 0;
  transition: all .1s linear;
  cursor: pointer;
}

.option:hover {
  color: #30B1FF;
}



.simplebar-scrollbar:before {
  @include themify($themes) {
    background-color: themed('cardTextColor');
  }
}


.modal {
  .modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
    width: 100%;

    .modal-content {
      min-width: 350px;
      max-width: 600px;
    }

    .modal-header,
    .modal-footer {
      border: none;
    }

    .modal-title {
      font-size: 2.1em;
      color: $generalTextColor;
    }

    .modal-body {
      font-size: 1.3em;
    }

    .modal-footer {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .btn {
      border: none;
      font-size: 1.35em;
      flex-basis: 0;
      flex-grow: 1;
      transition: all .15s linear;
      max-width: 150px;
    }
    .btn-default {
      color: $darkBlueOpacity04;
    }
    .btn-primary {
      color: $mainRed;
      background-color: transparent;
      border: 1px solid $mainRed;

      &:hover {
        color: #fff;
        background-color: $mainRed;
      }
    }
  }
}


// PAYPAL

.packages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.package {
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 10px 10px 0 rgba($signupGrad2, .8);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;

  &.middle {
    margin: 0 20px;
    background-color: transparent;
    background-image: linear-gradient(to bottom left, #F1655A, #EC565F, #CC4E7C);

    .pay {
      background-color: #fff !important;
      border-color: #fff !important;
      color: #F1655A !important;
    }

    .package-info {
      color: #fff;
      padding: 0 20px;
      min-width: 230px;

      .duration {
        border-bottom: 2px solid rgba(#fff, .2);

        > * {
          text-shadow: 5px 5px 10px rgba($signupGrad2, .4);
        }
      }

      .duration-number {
        font-size: 115px !important;
        line-height: 85px !important;
      }

      .price-amount {
        font-size: 45px !important;
      }

      .price-amount {

        &::after {
          font-size: 30px;
          color: rgba(#fff, .5) !important;
        }
      }
    }
  }

  .package-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    color: $signupGrad1;
    padding: 0 15px;
    min-width: 180px;

    & > div {
      //flex-basis: 0;
      //flex-grow: 1;
    }

    .duration {
      text-align: center;
      font-family: 'Source Sans Pro', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 0 0;
      border-bottom: 2px solid rgba($signupGrad2, .2);

      .duration-number {
        font-weight: 600;
        font-size: 80px;
        line-height: 55px;
      }

      .duration-description {
        font-size: 28px;
        margin-bottom: 10px;
      }
    }

    .price {
      //font-family: 'Source Sans Pro', sans-serif;
      padding: 10px 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .price-amount {
        font-size: 35px;
        font-weight: bold;
        position: relative;

        &::after {
          color: rgba($signupGrad1, .5);
          content: '€';
          position: absolute;
          top: 0;
          right: -15px;
          font-size: 20px;
          font-weight: normal;
        }
      }
    }
  }

  .pay {
    padding: 5px 20px;
    margin-bottom: 20px;
  }
}

